# Docker Configuration
DOCKER_USERNAME=tuankhue

# Frontend API URL
# For local development: http://localhost:5219/api
# For production: https://educhain.site/api
NEXT_PUBLIC_API_URL=https://educhain.site/api
